@import "./reset";
@import "./typebase";
@import "./flexboxgrid";

/* Global Styles */
body {
  overflow: hidden;
  color: #444;
}

a {
  color: #E2273A;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  color: #2A2C5C;
}

.title-date {
  margin: 0 0 .25rem;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.2);
}

/* Core Layout */

$sidebar-width = 220px;

.row {
  margin-bottom: 2.5rem;
}

.container-article {
  padding: 6rem 1rem 1rem;
}

.ribbon {
  width: $sidebar-width;
  color: #FFF;
  text-align: right;
  font-size: .75rem;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: calc(220px + 1.5rem);
  bottom: 5px;
  z-index: 1;
  /* ribbon offset */
  padding-left: calc(40% - 220px - 5px - 1.5rem);
  padding-right: 1rem;
}

#header .logo {
  max-width: $sidebar-width;
  z-index: 2;
  position: absolute;
  right: 0;
}

#header .title {
  text-indent: -9999px;
  margin: 0;
  height: 0;
  overflow: hidden;
}

#header:after {
  content:'';
  background-color: #2A2C5C;
  opacity: .95;
  position: fixed;
  top: 0;
  right: 60%;
  bottom: 0;
  /* ribbon offset */
  width: calc(220px + 2rem + 10px);
}

#header h3 {
  margin: 0 0 .5rem;
  color: #FFF;
}

#header ul {
  margin: 0 0 1.5rem;
}

#header ul li .time {
  display: inline-block;
  min-width: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
  opacity: .5;
}

.container-header {
  position: fixed;
  width: 40%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #CCC;
  background-image: url('http://f.cl.ly/items/1W060e0m200Z3Z2R0x2d/holler.jpg');
  background-size: cover;
}

.container-article {
  position: fixed;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 40%;
  overflow-y: auto;
  padding-right: 16.66666%;
}
