@import "./reset";
@import "./typebase";
@import "./flexboxgrid";

/* Global Styles */
body {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  overflow: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.4);
}

/* Core Layout */

$sidebar-width = 220px;

.ribbon {
  width: $sidebar-width;
  //background-color: #2A2C5C;
  //color: #FFF;
  font-size: .75rem;
  overflow-y: scroll;
  position: fixed;
  top: 5px;
  bottom: 5px;
  /* ribbon offset */
  padding-left: calc(33.33333% - 220px - 5px);
}

.container-header {
  position: fixed;
  width: 33.33333%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #CCC;
}

#header {
  display: table;
  height: 100%;
}

.container-article {
  position: fixed;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 33.333333%;
  overflow-y: auto;
  padding-right: 16.66666%;
}
