@import "./reset";
@import "./typebase";
@import "./flexboxgrid";

/* Global Styles */
body {
  color: #444;
}

a {
  color: #E2273A;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
  color: #2A2C5C;
}

h1 em {
  font-weight: normal;
  font-size: 85%;
  letter-spacing: 0;
}

.title-date {
  margin: 0 0 .25rem;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.2);
}

/* Core Layout */

$sidebar-width = 220px;

.row {
  margin-bottom: 2.5rem;
}

.row.small-bottom {
  margin-bottom: 0.5rem;
}

.container-article {
  padding: 6rem 1rem 1rem;
}

.ribbon {
  width: $sidebar-width;
  color: #FFF;
  text-align: right;
  font-size: .75rem;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: calc(220px + 1.5rem);
  bottom: 5px;
  z-index: 1;
  /* ribbon offset */
  padding-left: calc(40% - 220px - 5px - 1.5rem);
  padding-right: 1rem;
}

#header .logo {
  max-width: $sidebar-width;
  z-index: 2;
  position: absolute;
  right: 0;
}

#header .title {
  text-indent: -9999px;
  margin: 0;
  height: 0;
  overflow: hidden;
}

#header:after {
  content:'';
  background-color: #2A2C5C;
  opacity: .95;
  position: fixed;
  top: 0;
  right: 60%;
  bottom: 0;
  /* ribbon offset */
  width: calc(220px + 2rem + 10px);
}

#header h3 {
  margin: 0 0 .5rem;
  color: #FFF;
}

#header ul {
  margin: 0 0 1.5rem;
}

#header ul li .time {
  display: inline-block;
  min-width: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
  opacity: .5;
}

.container-header {
  position: fixed;
  width: 40%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #CCC;
  background-image: url('/pixels/bluebonnets.jpg');
  background-size: cover;
}

.container-article {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 40%;
  padding-right: 16.66666%;
}

.section-header--sponsored {
  margin-bottom: 4px;
}

.presented-by {
  font-size: 16px;
}

.time-header {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.innerheader {
  font-size: 26px;
  font-variant: smallcaps;
}

p strong {
  font-weight: bold;
}
p em {
  font-style: italic;
}

.speaker-list {
  padding: 10px 10px 10px 0;
}

.speaker-list img {
  max-height: 150px;
  max-width: 150px;
  width: 100%;
  background-color: #888;
  display: inline-block;
}
.speaker-list .speaker-label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: center;
}
.speaker-list img {
  border: 3px solid #333;
  border-radius: 3px;
}

.food-header {
  font-size: 22px;
  margin-bottom: 0.5rem;
}
.food-note {
  font-size: 12px;
  padding-left: 10px;
  color: #555;
}
.food-group {
  margin-top: 0.5rem;
}
.food-group li a {
  font-size: 18px;
}

.row.small-bottom.big-space {
  margin-bottom: 10rem;
}

#menu a {
  color: #fff;
  display: block;
}

@media only screen and (max-width: 64em) {

  body {
    padding-left: 3rem;
  }

  .row {
    margin: 0;
  }

  .container-fluid {
    padding: 0;
  }

  .container-article {
    position: static;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }

  .container-header {
    width: 3rem;
  }

  #header:after {
    position: absolute;
    width: 100%;
    right: auto;
  }

  .ribbon {
    position: relative;
    width: 100%;
    top: 4rem;
    padding: 0;
    z-index: 1;
  }

  .ribbon .day:not(.active),
  .ribbon .day .thing,
  .ribbon .day h3 {
    display: none;
  }

  .ribbon a {
    padding: .75rem 0;
  }

}

#footer {
  margin-top: 100px;
}
